<p>
  <h1>Edit profile</h1>
  <hr/>
</p>

<div class="row">
  <div class="well col-md-8 col-md-offset-2">
    <%= form_for(@user, html: { multipart:true }, validate: true) do |s| %>
      <%= s.label :firsname %><br />
      <%= s.text_field :firstname %><br />

      <%= s.label :lastname %><br />
      <%= s.text_field :lastname %><br />

      <%= s.label :email %><br />
      <%= s.email_field :email %><br />

      <%= s.label :phone %><br />
      <%= s.text_field :phone %><br />

      <%= s.label :pass, "Enter the Password"%><br />
      <%= s.password_field :pass %><br />

      <span class="picture">
            <%= s.file_field :picture, accept: "image/jpeg,image/gif,image/png" %>
          </span>

      <%= s.submit "Edit profile", class: "btn btn-success" %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $("#user_picture").bind("change", function(){
    size.in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 3){
      alert("Maximun file size is 3 Mb, please choose smaller file.")
    }
  });
</script>

