<div class= "row text-center">
  <p>
    <h1><%= @user.firstname %> <%= @user.lastname %></h1>
  </p>
  <hr><br>
  <div class= "col-md-4 col-md-push-2">
    <font1>User Picture</font1><br><br>
    <%= image_tag(@user.picture.url,  class: "picture") if @user.picture? %>
  </div>
  <div class= "col-md-4 col-md-push-2">
    <font1>User Information</font1><br><br>
    <dl class= "dl-horizontal text-left">
      <dt>Email: </dt><dd><%= @user.email %></dd>
      <dt>Phone number: </dt><dd><%= @user.phone %></dd>
      <dt>Current role: </dt><dd><%= @user.role %></dd>
      <dt>Comments: </dt><dd><%= @user.reviews.count %></dd><br>
      <dt><small>Registered at </small></dt><dd><small><%= @user.created_at %></small></dd>
    </dl>
  </div>
</div>
<hr><br>

<div class= "row">
  <div class= "col-md-8 col-md-offset-2">
    <% if logged_in? and current_user != @user %>
      <%= link_to "Write a Review", new_user_review_path(@user), class: "btn btn-primary btn-small" %>
    <% end %> 
<br><br><br>

  <div class= "well"><br>
<% @reviews.each do |review| %>
  <p>Rating: <%= review.rating %></p>
  <p><%= simple_format(review.comment) %></p>
  <% if logged_in? and current_user.admin? %>
    <%= link_to "Delete Review", [@user, review], method: :Delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-small" %>
  <% end %>
  <% if logged_in? and current_user.admin? %>
    <%= link_to "Edit Review", edit_user_review_path(@user, review), class: "btn btn-warning btn-small" %>
  <% end %>
  <hr>
<% end %>
</div>
</div>
</div>