<h1 style="font-size: 34px">EZSHIP is...</h1>
<div class="container col-md-10 col-md-offset-1">
	<p style="width:60%; margin:auto;"><br>Ezship is a convenient, cheap, economic-shared shipment service provider. Ever since its establishment, Ezship has been committed to improving service quality and satisfying market demands. It has set up powerful business services including information collection, market development, logistics distribution and express delivery services.</p>
</div>


<div class="container col-md-12 ">
	<div id="carousel-generic" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#carousel-generic" data-slide-to="0" class="active"></li>
		    <li data-target="#carousel-generic" data-slide-to="1"></li>
		    <li data-target="#carousel-generic" data-slide-to="2"></li>
		 	<li data-target="#carousel-generic" data-slide-to="3"></li>
		 	<li data-target="#carousel-generic" data-slide-to="4"></li>
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<%= image_tag("11.jpg") %>
		      	<div class="carousel-caption"></div>
		    </div>
		    <div class="item">
		      <%= image_tag("2.jpg") %>
		      <div class="carousel-caption"></div>
		    </div>
		    <div class="item">
		      <%= image_tag("3.jpg") %>
		      <div class="carousel-caption"></div>
		    </div>
		    <div class="item">
		      <%= image_tag("4.jpg") %>
		      <div class="carousel-caption"></div>
		    </div>
		     <div class="item">
		      <%= image_tag("5.jpg") %>
		      <div class="carousel-caption"></div>
		    </div>
		</div>

		<!-- Controls -->
		<a class="left carousel-control" href="#carousel-generic" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#carousel-generic" role="button" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		</a>
	</div>
</div>
